annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.11.0
beautifulsoup4==4.12.3
branca==0.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
fastapi==0.115.7
folium==0.19.4
geopandas==1.0.1
google==3.0.0
googleapis-common-protos==1.66.0
gtfs-kit==10.1.1
gtfs-realtime-bindings==1.0.0
h11==0.14.0
idna==3.10
Jinja2==3.1.5
json2html==1.3.0
logger==1.4
MarkupSafe==3.0.2
numpy==2.2.2
packaging==24.2
pandas==2.2.3
protobuf==5.29.3
pydantic==2.10.6
pydantic_core==2.27.2
pyogrio==0.10.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
Rtree==1.3.0
setuptools==75.8.0
shapely==2.0.6
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.45.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
urllib3==2.3.0
uvicorn==0.34.0
xyzservices==2025.1.0
